version: "3.8"

networks:
  app-net:
    external: true

services:
  nginx:
    image: nginx:1.27-alpine
    container_name: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"
    networks:
      - app-net
